<nav class="flex justify-between items-center p-4">
  <div class="flex justify-between items-center gap-4 lg:gap-8">
    <img [src]="logo" alt="" srcset="" />
    <h1 class="text-dark-navy text-lg lg:text-2xl font-bold dark:text-white">
      {{ category }}
    </h1>
  </div>
  <div class="buttons flex justify-between cursor-pointer gap-4">
    <div>
      <img
        src="./assets/images/icon-sun-dark.svg"
        *ngIf="!isDark"
        alt="sun icon"
      />
      <img
        src="./assets/images/icon-sun-light.svg"
        *ngIf="isDark"
        alt="sun icon"
      />
    </div>
    <div
      class="h-6 w-12 bg-puple flex items-center rounded-full"
      (click)="toggleDarkMode()"
    >
      <div
        class="bg-white rounded-full w-5 h-5 duration-200 ml-1"
        [ngClass]="{ 'translate-x-full': isDark }"
      ></div>
    </div>
    <div>
      <img
        src="./assets/images/icon-moon-light.svg"
        *ngIf="isDark"
        alt="moon icon"
      />
      <img
        src="./assets/images/icon-moon-dark.svg"
        *ngIf="!isDark"
        alt="moon icon"
      />
    </div>
  </div>
</nav>
