<nav class="flex justify-between items-center p-4">
  <div class="flex justify-between items-center gap-4 lg:gap-8">
    <img [src]="logo" alt="" srcset="" />
    <h1 class="text-dark-navy text-lg lg:text-2xl font-bold dark:text-white">
      {{ category }}
    </h1>
  </div>
  <div class="buttons flex justify-between">
    <div>
      <img
        src="./assets/images/icon-sun-dark.svg"
        *ngIf="!isDark"
        alt="sun icon"
      />
      <img
        src="./assets/images/icon-sun-light.svg"
        *ngIf="isDark"
        alt="sun icon"
      />
    </div>
    <div class="mx-2">
      <img
        *ngIf="!isDark"
        src="./assets/images/icon-toggle.svg"
        alt="dark mode toggler"
        (click)="toggleDarkMode()"
      />
      <img
        *ngIf="isDark"
        src="./assets/images/icon-toggle-dark.svg"
        alt="dark mode toggler"
        (click)="toggleDarkMode()"
      />
    </div>
    <div>
      <img
        src="./assets/images/icon-moon-light.svg"
        *ngIf="isDark"
        alt="moon icon"
      />
      <img
        src="./assets/images/icon-moon-dark.svg"
        *ngIf="!isDark"
        alt="moon icon"
      />
    </div>
  </div>
</nav>
