<nav class="flex justify-between items-center px-4 py-8">
  <div>
    <img [src]="logo" alt="" srcset="" />
  </div>
  <div class="buttons flex justify-between">
    <div>
      <img
        src="./assets/images/icon-sun-dark.svg"
        *ngIf="!isDark"
        alt="sun icon"
      />
      <img
        src="./assets/images/icon-sun-light.svg"
        *ngIf="isDark"
        alt="sun icon"
      />
    </div>
    <div class="mx-2">
      <img
        src="./assets/images/icon-toggle.svg"
        alt="dark mode toggler"
        (click)="toggleDarkMode()"
      />
    </div>
    <div>
      <img
        src="./assets/images/icon-moon-light.svg"
        *ngIf="isDark"
        alt="moon icon"
      />
      <img
        src="./assets/images/icon-moon-dark.svg"
        *ngIf="!isDark"
        alt="moon icon"
      />
    </div>
  </div>
</nav>
