<div>
  <h1 class="text-sm text-grey-navy dark:text-light-bluish px-4">
    Question {{ currentQuestion + 1 }} out of {{ questions.length }}
  </h1>
  <h1 class="text-dark-navy text-xl font-medium px-4 my-4 dark:text-white">
    {{ questions[currentQuestion].question }}
  </h1>
  <!-- <div *ngFor="let option of questions[currentQuestion].options; let i = index">
    <app-card [subject]="option" [index]="i"></app-card>
  </div> -->
  <div class="p-4">
    <div
      [ngClass]="{
        flex: true,
        'justify-start': true,
        'items-center': true,
        'rounded-md': true,
        'bg-white': true,
        'p-4': true,
        'dark:bg-navy': true,
        'mb-4': true,
        'border-2': opt1,
        'border-puple': opt1
      }"
      (click)="handleAttempt(questions[currentQuestion].options[0], 0)"
    >
      <h1
        [ngClass]="{
          'bg-light-greyish': !opt1,
          'py-2': true,
          'px-4': true,
          'rounded-md': true,
          'mr-4': true,
          'dark:bg-light-greyish': true,
          'text-lg': true,
          'text-grey-navy': true,
          'font-bold': true,
          'bg-puple': opt1,
          'dark:bg-puple': opt1,

          'text-white': opt1,
         
        }"
      >
        A
      </h1>
      <h1
        class="dark:text-white text-lg font-medium"
        [ngClass]="{
          'text-black': opt1
        }"
      >
        {{ questions[currentQuestion].options[0] }}
      </h1>
    </div>
    <div
      [ngClass]="{
        flex: true,
        'justify-start': true,
        'items-center': true,
        'rounded-md': true,
        'bg-white': true,
        'p-4': true,
        'dark:bg-navy': true,
        'mb-4': true,
        'border-2': opt2,
        'border-puple': opt2
      }"
      (click)="handleAttempt(questions[currentQuestion].options[1], 1)"
    >
      <h1
        class="bg-light-greyish py-2 px-4 rounded-md mr-4 dark:bg-light-greyish text-lg text-grey-navy font-bold"
      >
        B
      </h1>
      <h1 class="dark:text-white text-lg font-medium">
        {{ questions[currentQuestion].options[1] }}
      </h1>
    </div>
    <div
      [ngClass]="{
        flex: true,
        'justify-start': true,
        'items-center': true,
        'rounded-md': true,
        'bg-white': true,
        'p-4': true,
        'dark:bg-navy': true,
        'mb-4': true,
        'border-2': opt3,
        'border-puple': opt3
      }"
      (click)="handleAttempt(questions[currentQuestion].options[2], 2)"
    >
      <h1
        class="bg-light-greyish py-2 px-4 rounded-md mr-4 dark:bg-light-greyish text-lg text-grey-navy font-bold"
      >
        C
      </h1>
      <h1 class="dark:text-white text-lg font-medium">
        {{ questions[currentQuestion].options[2] }}
      </h1>
    </div>
    <div
      [ngClass]="{
        flex: true,
        'justify-start': true,
        'items-center': true,
        'rounded-md': true,
        'bg-white': true,
        'p-4': true,
        'dark:bg-navy': true,
        'mb-4': true,
        'border-2': opt4,
        'border-puple': opt4
      }"
      (click)="handleAttempt(questions[currentQuestion].options[3], 3)"
    >
      <h1
        class="bg-light-greyish py-2 px-4 rounded-md mr-4 dark:bg-light-greyish text-lg text-grey-navy font-bold"
      >
        D
      </h1>
      <h1 class="dark:text-white text-lg font-medium">
        {{ questions[currentQuestion].options[3] }}
      </h1>
    </div>
  </div>
</div>
